@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);

.Title-style1 {
  position: relative;
  padding-left: 10px;
  .title-header {
    color: #cbcbcb;
    font-size: 1.2rem;
    font-family: 'Poppins';
  }

}
