@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

.Title-style3 {
  position: relative;
  .title-header {
    color: #cbcbcb;
    font-size: 110pt;
    line-height: 110px;
    text-transform: uppercase;
    letter-spacing: -15px;
    font-family: 'Poppins';
  }

}
