@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

.Discription {
  position: relative;
  .title-header {
    color: #cbcbcb;
    font-size: 11pt;
    font-family: 'Poppins';
  }

}
