.ProfilePicture
 {
  img {
    border-radius: 50%;
    border: 2px solid #c92b5a;
    border-radius: 50%;
    margin: auto;
    padding: 3px;
    position: relative;
    left: 10px;
    width:250px;
    height: 250px;
  }
}
