@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

.Title-style2 {
  position: relative;
  padding: 10px;
  .title-header {
    color: #ff346e;
    font-size: 45pt;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: 'Poppins';
  }

}
