.Personal-Details {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: auto;
  justify-content: space-around;
  align-content: center;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 1fr 1fr 1fr;
  grid-template-rows:  0.4fr 1.9fr 0.7fr;
  grid-template-areas: 
    '. . . . .'
    '. container1 . . .'
    'container3 container3 container3 container3 container3';

  background-color: brown;

  .container1{
    grid-area: container1;
  }

  .container3{
    grid-area: container3;
    position: relative;
  }

  
}
